.Rproj.user
.Rhistory
.RData
.Ruserdata
#
.DS_Store
figures/.DS_Store
data/.DS_Store
input_data/.DS_Store
scripts/.DS_Store
#
data/*
figures/*
data/
figures/
data
figures
data/allIndv.csv
data/allid-nodups.Rdata
data/mult-plots-species.csv
data/allid.Rdata
data/allidb.Rdata